.scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #5e6674;
  border-radius: 2px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #5e6674 transparent;
}
